<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="overlay">
    <h2>Enter News</h2>

    <div class="box">
        <form method="POST">
            {% if mode == "url" %}
                <input type="text" name="news" placeholder="Enter news URL" required>
            {% else %}
                <textarea name="news" placeholder="Paste news content..." required></textarea>
            {% endif %}
            <button type="submit">Predict</button>
        </form>
    </div>
</div>
</body>
<div class="navbar">
    <a href="/" class="{{ 'active' if page=='home' else '' }}">Home</a>
    <a href="/about" class="{{ 'active' if page=='about' else '' }}">About</a>
    <a href="/mode" class="{{ 'active' if page=='mode' else '' }}">Try</a>
    <a class="{{ 'active' if page=='result' else '' }}">Result</a>
</div>

</html>
